Lab3_Calculator_Server/WebContent/wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://calculator.lab3.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://calculator.lab3.com" xmlns:intf="http://calculator.lab3.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://calculator.lab3.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calculate">
    <complexType>
     <sequence>
      <element name="number1" type="xsd:int"/>
      <element name="number2" type="xsd:int"/>
      <element name="operation" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateResponse">
    <complexType>
     <sequence>
      <element name="calculateReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculateResponse">

      <wsdl:part element="impl:calculateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateRequest">

      <wsdl:part element="impl:calculate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="calculator">

      <wsdl:operation name="calculate">

         <wsdl:input message="impl:calculateRequest" name="calculateRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateResponse" name="calculateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calculatorSoapBinding" type="impl:calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="calculatorService">

      <wsdl:port binding="impl:calculatorSoapBinding" name="calculator">

         <wsdlsoap:address location="http://localhost:8080/Lab3_Calculator_Server/services/calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
